[submodule "lib/vendor"]
	path = lib/vendor
	url = git://github.com/symfony/symfony1.git
[submodule "plugins/sfPropelORMPlugin"]
	path = plugins/sfPropelORMPlugin
	url = git://github.com/propelorm/sfPropelORMPlugin
